.parallax1 {
    height: 100vh;
    width: 100%;
    background-image: url('./images/lines.png');
    background-attachment: fixed; /*fixed: image scrolls; scroll: image stays*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
  margin: auto;
  padding-top: 100px;
  display: block;
}

.name {
  font-family: 'Raleway', 'sans-serif';
  font-size: 30px;
  color: #312F2F;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
}

h2 {
  font-family: 'Raleway', 'sans-serif';
  font-size: 20px;
  color: #312F2F;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
}

#colored {
  border-color: #84DCCF;
  max-width: 100px;
  border-top: 8px dotted #84DCCF;
  border-bottom: 8px dotted #84DCCF;
  height: 4px;
  margin: 15px auto;
  border-left-style: initial;
  border-right-style: initial;
  display: block;
}

div .mid-nav {
  text-align:center;
}

a {
    font-family: 'Raleway', 'sans-serif';
    font-size: 15px;
    letter-spacing: 2px;
    text-decoration: none;
}

.button a {
    border: 4px solid #312F2F;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 25px;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #312F2F;
}

.button a:hover {
  border-color: #2cfdc9;
  color: #2cfdc9;
}

.container-fluid {
  height: auto;
  min-height: 100vh;
  background-color: #222630;
  /*#2F323B*/
}

.flex-container {
  display: flex;
  flex-flow:row wrap;
  /*align-items: center;*/
  justify-content: center;
}

.section-title1 {
  font-family: 'Raleway', 'sans-serif';
  font-size: 40px;
  color: #CEE7E6;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
}

.project-section {
  width: 400px;
}

[class*='col-'] {
  float: left;
}

.col-1-3 {
  margin-right: 2vw;
  /*margin-left: auto;*/
  margin-bottom: 57px;
}

.col-2-3 {
  margin-right: 2vw;
  /*margin-left: auto;*/
}

.col-3-3 {
  /*margin-top: 38px;*/
  /*margin-right: 2vw;*/
  margin-left: auto;
}


.titles {
  font-family: 'PT Sans Narrow', 'sans-serif';
  font-size: 35px;
  color: #CEE7E6;
}

.project-title {
  text-align:center;
}

.project-title a:hover {
  color: #9BA7C0;
}

#underbar {
  border-color: #84DCCF;
  box-sizing: content-box;
  overflow: visible;
  display: block;
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
  -webkit-margin-start: auto;
  -webkit-margin-end: auto;
}

.project-details {
  width: 100%;
  height: auto;
  margin: auto;
  padding: 0 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #CEE7E6;
  font-family: 'Raleway', 'sans-serif';
}

.projectImage {
  width:100%;
	height:auto;
}

a {
  color: #FFFC99;
}

a:hover {
  color: #B1F8F2;
}

.bio-me {
  background-color: #E3E3E3;
}

.bio-details {
  width: 100%;
  height: auto;
  margin: auto;
  padding: 0 0.5em;
  display: flex;
  justify-content: center;
  color: #312F2F;
  font-family: 'Raleway', 'sans-serif';
}

.block-text {
  margin: auto;
  width: 50em;
  padding-bottom: 1em;
  padding-top: 1em;
}

.profileimg {
  background-image: url(./images/profilepic.jpg);
  background-position: center 8%;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 150px;
  width: 150px;
  border-style: none;
  border-radius: 100px;
  border-color: transparent;
  margin: auto;
}

.contact-me {
  background-color: #222630;
}

.section-title2 {
  font-family: 'Raleway', 'sans-serif';
  font-size: 40px;
  color: #312F2F;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
  margin: auto;
  padding-top: 20px;
}

.email {
  width: 100%;
  height: auto;
  margin: auto;
  padding: 0 0.5em;
  display: flex;
  justify-content: center;
  color: #E3E3E3;
  font-family: 'Raleway', 'sans-serif';
}

.phone {
  width: 100%;
  height: auto;
  margin: auto;
  padding: 0 0.5em;
  display: flex;
  justify-content: center;
  color: #E3E3E3;
  font-family: 'Raleway', 'sans-serif';
}

.contact-icon {
  margin-right: 10px;
}

.links {
  display: flex;
  flex-flow:row wrap;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  padding-bottom: 20px;
}

.section-title3 {
  font-family: 'Raleway', 'sans-serif';
  font-size: 40px;
  color: #CEE7E6;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
  margin-top:auto;
  padding-top: 20px;
}
